Repository mdn/content: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, yarn test:front-matter-linter, yarn filecheck, node scripts/log-url-issues.js

fix typo (#38333)
  files/en-us/web/http/status/426/index.md
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

Typo fixes in how_browsers_load_websites (#38330)
  files/en-us/learn_web_development/getting_started/web_standards/how_browsers_load_websites/index.md
  files/en-us/learn_web_development/getting_started/your_first_website/index.md
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

fix typo (#38327)
  files/en-us/learn_web_development/getting_started/web_standards/how_the_web_works/index.md
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

Fill out Guide for Internationalization (#38293)
  files/en-us/web/javascript/guide/internationalization/index.md
  files/en-us/web/javascript/reference/global_objects/intl/collator/collator/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/listformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/relativetimeformat/relativetimeformat/index.md
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

remove prefix note (#38317)
  files/en-us/web/css/css_animations/using_css_animations/index.md
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

Fixed typo (#38334)
  files/en-us/learn_web_development/getting_started/environment_setup/installing_software/index.md
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

Add a multiple param example of `expects_no_vary_search`
  files/en-us/web/html/element/script/type/speculationrules/index.md
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

Add warning
  files/en-us/web/html/element/script/type/speculationrules/index.md
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

Review feedback
  files/en-us/web/html/element/script/type/speculationrules/index.md
  files/en-us/web/http/headers/no-vary-search/index.md
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

Fix MIME type for WebDriverBiDi captureScreenshot command (#37961)
  files/en-us/mozilla/firefox/releases/135/index.md
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

fix: 'image/jpg' -> 'image/jpeg' media type
  files/en-us/learn_web_development/extensions/server-side/node_server_without_framework/index.md
  files/en-us/web/css/url_function/index.md
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

updated syntax for linear, conic & radial gradients
  files/en-us/web/css/gradient/conic-gradient/index.md
  files/en-us/web/css/gradient/linear-gradient/index.md
  files/en-us/web/css/gradient/radial-gradient/index.md
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

fix: delete xsltsidebar
  files/sidebars/xsltsidebar.yaml
Due: node scripts/log-url-issues.js

fix: delete xsltsidebar, tidy fm linter
  front-matter-config.json
Due: node scripts/log-url-issues.js

fix redirect casing and trailing slashes
  files/en-us/_redirects.txt
Due: node scripts/log-url-issues.js

added the release note for gradient single color stop
  files/en-us/mozilla/firefox/releases/136/index.md
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

fix redirect casing and trailing slashes (#38341)
  files/en-us/_redirects.txt
Due: node scripts/log-url-issues.js

Update README.md
  README.md
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

Fill in research and learning article
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn_web_development/getting_started/soft_skills/index.md
  files/en-us/learn_web_development/getting_started/soft_skills/learning_and_getting_help/index.md
  files/en-us/learn_web_development/getting_started/soft_skills/research_and_learning/index.md
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

chore(ia): Org a11y reference
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/aria/guides/index.md
  files/en-us/web/accessibility/cognitive_accessibility/index.md
  files/sidebars/accessibilitysidebar.yaml
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

chore(ia): Org a11y reference
  files/en-us/web/accessibility/aria/how_to/index.md
  files/en-us/web/accessibility/guides/index.md
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

chore(ia): Org a11y reference
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn_web_development/core/frameworks_libraries/introduction/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/svelte_stores/index.md
  files/en-us/learn_web_development/extensions/forms/form_validation/index.md
  files/en-us/mozilla/firefox/releases/3/wai_aria_live_regions_api_support/index.md
  files/en-us/web/accessibility/an_overview_of_accessible_web_applications_and_widgets/index.md
  files/en-us/web/accessibility/aria/guides/index.md
  files/en-us/web/accessibility/aria/guides/live_regions/index.md
  files/en-us/web/accessibility/aria/guides/live_regions/web_accessibility_aria_aria_live_regions.png
  files/en-us/web/accessibility/aria/index.md
  files/en-us/web/accessibility/aria/reference/attributes/aria-busy/index.md
  files/en-us/web/accessibility/aria/reference/attributes/aria-errormessage/index.md
  files/en-us/web/accessibility/aria/reference/attributes/aria-relevant/index.md
  files/en-us/web/accessibility/aria/reference/roles/alert_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/log_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/marquee_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/status_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/timer_role/index.md
  files/en-us/web/api/element/arialive/index.md
  files/en-us/web/api/elementinternals/arialive/index.md
  files/en-us/web/html/element/output/index.md
  files/en-us/web/html/element/title/index.md
  files/en-us/web/progressive_web_apps/tutorials/cycletracker/javascript_functionality/index.md
  files/sidebars/accessibilitysidebar.yaml
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, yarn filecheck, node scripts/log-url-issues.js

chore(ia): Org a11y reference
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn_web_development/extensions/forms/how_to_build_custom_form_controls/index.md
  files/en-us/web/accessibility/aria/guides/techniques/index.md
  files/en-us/web/accessibility/aria/reference/attributes/index.md
  files/en-us/web/accessibility/aria/reference/roles/complementary_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/index.md
  files/en-us/web/accessibility/aria/reference/roles/region_role/index.md
  files/en-us/web/api/elementinternals/index.md
  files/en-us/web/api/elementinternals/role/index.md
  files/en-us/web/html/element/main/index.md
  files/sidebars/accessibilitysidebar.yaml
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

chore(ia): Org a11y reference
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/3/wai_aria_live_regions_api_support/index.md
  files/en-us/web/accessibility/aria/guides/screen_reader_implementors/index.md
  files/en-us/web/performance/guides/how_browsers_work/index.md
  files/sidebars/accessibilitysidebar.yaml
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

chore(ia): Org a11y reference
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/aria/guides/index.md
  files/en-us/web/accessibility/aria/guides/multipart_labels/index.md
  files/sidebars/accessibilitysidebar.yaml
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

chore(ia): Org a11y reference
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/guides/accessibility_and_spacial_patterns/index.md
  files/en-us/web/accessibility/guides/accessibility_and_spacial_patterns/yellow_edge_3.gif
  files/en-us/web/accessibility/guides/accessibility_and_spacial_patterns/yellow_edge_4.gif
  files/sidebars/accessibilitysidebar.yaml
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, yarn filecheck, node scripts/log-url-issues.js

chore(ia): Org a11y reference
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/guides/browsing_safely/android-remove-animations.png
  files/en-us/web/accessibility/guides/browsing_safely/beelinereader.png
  files/en-us/web/accessibility/guides/browsing_safely/colorfiltersgrayscaleinwindows.png
  files/en-us/web/accessibility/guides/browsing_safely/image_animation_mode.png
  files/en-us/web/accessibility/guides/browsing_safely/index.md
  files/en-us/web/accessibility/guides/browsing_safely/macos-reduce-motion.png
  files/en-us/web/accessibility/guides/browsing_safely/turnoffanimationsinwindows.png
  files/sidebars/accessibilitysidebar.yaml
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, yarn filecheck, node scripts/log-url-issues.js

Add a multiple param example of `expects_no_vary_search` (#38336)
  files/en-us/web/html/element/script/type/speculationrules/index.md
  files/en-us/web/http/headers/no-vary-search/index.md
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

chore(ia): Org a11y reference
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/guides/accessible_web_applications_and_widgets/index.md
  files/en-us/web/accessibility/guides/accessible_web_applications_and_widgets/tabs_widget.png
  files/en-us/web/accessibility/keyboard-navigable_javascript_widgets/index.md
  files/sidebars/accessibilitysidebar.yaml
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, yarn filecheck, node scripts/log-url-issues.js

chore(ia): Org a11y reference
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/blink_element/index.md
  files/en-us/learn_web_development/core/accessibility/what_is_accessibility/index.md
  files/en-us/web/accessibility/guides/cognitive_accessibility/index.md
  files/en-us/web/accessibility/index.md
  files/sidebars/accessibilitysidebar.yaml
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

chore(ia): Org a11y reference
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/guides/information_for_web_authors/index.md
  files/sidebars/accessibilitysidebar.yaml
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

chore(ia): Org a11y reference
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/aria/guides/index.md
  files/en-us/web/accessibility/aria/index.md
  files/en-us/web/accessibility/guides/accessible_web_applications_and_widgets/index.md
  files/en-us/web/accessibility/guides/keyboard-navigable_javascript_widgets/index.md
  files/en-us/web/accessibility/index.md
  files/en-us/web/api/htmlelement/tabindex/index.md
  files/en-us/web/api/svgelement/tabindex/index.md
  files/sidebars/accessibilitysidebar.yaml
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

chore(ia): Org a11y reference
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/blink_element/index.md
  files/en-us/web/accessibility/guides/accessibility_and_spacial_patterns/index.md
  files/en-us/web/accessibility/guides/browsing_safely/index.md
  files/en-us/web/accessibility/guides/cognitive_accessibility/index.md
  files/en-us/web/accessibility/guides/seizure_disorders/index.md
  files/en-us/web/accessibility/guides/seizure_disorders/peatversion1pt6.png
  files/en-us/web/accessibility/guides/seizure_disorders/screen_shot_2019-06-20_at_11.16.17_am.png
  files/en-us/web/accessibility/index.md
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
  files/en-us/web/css/css_colors/using_color_wisely/index.md
  files/sidebars/accessibilitysidebar.yaml
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, yarn filecheck, node scripts/log-url-issues.js

chore(ia): Org a11y reference
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/guides/accessibility_and_spacial_patterns/index.md
  files/en-us/web/accessibility/guides/colors_and_luminance/320px-red_saturations.svg.png
  files/en-us/web/accessibility/guides/colors_and_luminance/conemosaics.jpg
  files/en-us/web/accessibility/guides/colors_and_luminance/index.md
  files/en-us/web/accessibility/guides/colors_and_luminance/microcolorsc.jpg
  files/en-us/web/accessibility/guides/colors_and_luminance/simulate_color_differences.jpg
  files/en-us/web/accessibility/guides/colors_and_luminance/yellowdotcheckershadow_dlyon.png
  files/en-us/web/accessibility/guides/seizure_disorders/index.md
  files/en-us/web/accessibility/index.md
  files/en-us/web/css/css_colors/color_picker_tool/index.md
  files/en-us/web/css/css_colors/color_values/index.md
  files/en-us/web/css/css_colors/index.md
  files/en-us/web/css/css_colors/using_color_wisely/index.md
  files/sidebars/accessibilitysidebar.yaml
  files/sidebars/cssref.yaml
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, yarn filecheck, node scripts/log-url-issues.js

chore(ia): Org a11y reference
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/aria/how_to/file_aria-related_bugs/index.md
  files/sidebars/accessibilitysidebar.yaml
Due: markdownlint-cli2 --fix, node scripts/front-matter_linter.js --fix true, node scripts/update-moved-file-links.js --check, prettier --write, node scripts/log-url-issues.js

Path conditions:
  markdownlint-cli2 --fix: any of: *.md
  node scripts/front-matter_linter.js --fix true: any of: *.md
  node scripts/update-moved-file-links.js --check: any of: *.md
  prettier --write: any of: *.md
  yarn test:front-matter-linter: any of: tests/**/*.*
  yarn filecheck: any of: *.{svg,png,jpeg,jpg,gif}
  node scripts/log-url-issues.js: any of: *
